<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Contact & FAQ | ZenEvents</title>

        <!-- Bootstrap CSS file -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

      </head>

  <body style="background:rgb(240, 154, 154);">

    <Style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/green_tie_dye_seamless.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>

  <!--
      BOOTSTRAP NAV
      https://getbootstrap.com/docs/5.0/components/navbar/
  -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(35, 112, 175);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZenEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <a class="nav-link" href="/events">All Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/zenquiz">Zen Quiz</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" href="/contactus">Contact & FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


     <section class="main-content contact-content">

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Contact Us</h1>
          </div>
        </div>
      </section>

      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-center no-margin-top">FAQ</h3>
              <div class="contact-info">
                <p>Q: My event was canceled... why?</p>
                <p>A: Check your star sign against the day of the week and then ask yourself if there is any reason the ancient aliens should hate you.</p>
                <p>Q: I'm not feeling so good today, and my cat keeps looking at me funny.</p>
                <p>A: Take a deep breath, reach into your wallet, and pull out your creditcard. Copy the information from your creditcard on this page as directed.</p>
                <p>Q: Someone took my shoes at a meditation class.</p>
                <p>A: Ghandi once said: "The fastest way to one's soul is when one takes off their shoes."</p>
              </div>
            </div>
              <div class="col-md-6">
                <form id="OPIM" action="https://formspree.io/f/xdoyavvb" method="POST">
                    <div class="form-group">
                       <label>Name:</label>
                       <input type="text" class="form-control" id="name" placeholder="Name" name="Name">
                       <div class="invalid-feedback">
                          Name must be between 2 and 20 characters
                       </div>
                    </div>
                    <div class="form-group">
                       <label>Email:</label>
                       <input type="text" class="form-control" id="email" placeholder="Email address" name="Email">
                       <div class="invalid-feedback">
                          Enter a valid email address
                       </div>
                    </div>
                    <div class="form-group">
                       <label>Telephone:</label>
                       <input type="text" class="form-control" id="phone" placeholder="Phone number" name="Phone">
                       <div class="invalid-feedback">
                          Enter a valid number
                       </div>
                    </div>
                    <div class="form-group">
                       <label>Star Sign:</label>
                       <input type="text" class="form-control" id="phone" placeholder="e.g: Leo Crossing Mars" name="StarSign">
                       <div class="invalid-feedback">
                          Enter a valid Star Sign
                       </div>
                    </div>
                    <div class="form-group">
                        <label>Tell us about your existential crisis of spirit & etc:</label>
                        <input type="text" class="form-control" id="phone" placeholder="e.g: My spirt has fallen and it can't get up!" name="Message">
                        <div class="invalid-feedback">
                           Enter a valid existential crisis
                        </div>
                     </div>
                     <div class="form-group">
                        <label>Enter your credit card number followed with 3 digit security code and expiration:</label>
                        <input type="text" class="form-control" id="phone" placeholder="Credit card information here" name="creditcard">
                        <div class="invalid-feedback">
                           Enter a valid credit card
                        </div>
                     </div>
                    <input type="submit" value="Send" class="btn btn-info btn-block">
                    <p id="OPIM-status"></p>
                 </form>
              </div>
          </div>
        </div>
    </div>
</section>

<footer style="margin-top:2em; margin-bottom:2em;">
    <hr>
    &copy; Copyright 2021 ZenEvents
  </footer>
  <script>
    var form = document.getElementById("OPIM");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("OPIM-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Thanks for your submission!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>