<!doctype html>

<html lang="en">
  <head>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | ZenEvents</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

       <!-- Bootstrap CSS file -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

       <!-- Adding the following ds script to enable reading csv files https://stackoverflow.com/questions/21381097/d3-is-not-defined-referenceerror -->
       <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .hiddentext
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}
    </style>

    
  </head>

  <body style="background:plum;">

  <!--
      BOOTSTRAP NAV
      https://getbootstrap.com/docs/5.0/components/navbar/
  -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(35, 112, 175);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZenEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" href="/events">All Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/zenquiz">Zen Quiz</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact & FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>



<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ZenEvents</h1>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control" autofocus="autofocus" placeholder="Search for events..">
        <button id="btn" onclick="myFunction()">Search</button> 
        
        <script>

          </script>

      </div>
    </div>

<div class="row" id="myItems">
  <div class="album py-5 bg-light">
    <div class="container">

      <!-- gave below "myItemList" id name to reference and repeat in forEach statement below -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="myItemsList">    
            </div>
        </div>
  </div>

  <script>
  
  //Function to prepopulate text search when specified in URL
  window.onload=function(){ 

function querySt(ji) {

hu = window.location.search.substring(1); 
gy = hu.split("&");

for (i=0;i<gy.length;i++) { 
ft = gy[i].split("="); 
if (ft[0] == ji) { 
return ft[1]; 
} 
} 
} 
var fieldName = querySt("fieldName");

myFunction();


if( fieldName==null){ 
}else{ 
document.getElementById('myFilter').value = fieldName; 
} 

document.getElementById("btn").click();

} 

//Function to filter event cards
    function myFunction() {
        var input, filter, cards, cardContainer, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myItems");
        cards = cardContainer.getElementsByClassName("col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }

//Trigger search with enter key
var input = document.getElementById("myFilter");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("btn").click();
  }
});

var events = JSON.parse('<%- events %>')

// //get events data from csv file in /public/ folder, and iterate into new cards for each
//   //https://stackoverflow.com/questions/54706080/generating-dynamic-html-cards-from-a-javascript-array
//   //https://www.w3schools.com/js/js_output.asp
// d3.csv("events.csv").get(function(error,data){
//   var events = data;

  events.forEach((result, idx) => {
    const content = `        
    <div class="col">
              <div class="card shadow-sm">
                <img src=${result.img} class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href=${result.link} target="_blank">${result.title}</a></h5>
                  <p class="card-text">${result.date}<br>${result.location}</p>
                  <div class="hiddentext">${result.keywords}</div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href=${result.link} target="_blank">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    `;
                
    document.getElementById("myItemsList").innerHTML += content;
   // })

});

    </script>

  
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>

  </div>
</footer>
<footer style="margin-top:2em; margin-bottom:2em;">
  <hr>
  &copy; Copyright 2021 ZenEvents
</footer>

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>
