<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zen Quiz | ZenEvents</title>

        <!-- Bootstrap CSS file -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  </head>
  <body style="background:rgb(79, 160, 106);">

    <style> div {
      word-wrap: break-word;
      max-width: 1000px;
   }
  </style>

  <!--
      BOOTSTRAP NAV
      https://getbootstrap.com/docs/5.0/components/navbar/
  -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(35, 112, 175);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZenEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <a class="nav-link" href="/events">All Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/zenquiz">Zen Quiz</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact & FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<center>
  <br>
  <br>
  <div>
    <iframe src="https://giphy.com/embed/xUA7aNCph54MS9Xco8" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cinemagraph-gif-artist-xUA7aNCph54MS9Xco8"></a></p>  
    <h1>Your result is Nature Nurturer!</h1><br> 
    <p>Have you ever sat in awe of a glorious sunset? Or stood dwarfed by a mountain range soaring above you? Have you stopped in your gardening to <a href="https://www.crazywholelife.com/gardening-spiritual-practice/" target="_blank">marvel</a> at a dew kissed rose?  The Nature Nurturer finds spiritual enlightment through all of the natural world.</p>
    <p>Sit and watch a wild honey bee hive in an old tree and you will glimpse the wonder of creatures who build for each other, and for a future they will not live to see. Prune the spent blooms from thorny rose bushes and you will be given a lesson in letting go of the past so that a new and beautiful future might grow. Spend patient years adding compost and mulch to poor, dry soil and you will be part of a miracle as the barren becomes fertile and lush. You and the worm, partners in the miraculous.</p>
    <h2><a href="events?fieldName=Gardening">Find Gardening Events</a> <br><br></h2>
    <a href="zenquiz">Retake Quiz</a> <br>

    <script type="text/javascript" language="javascript"> 
      $('.myIframe').css('height', $(window).height()+'px');
      </script>
      
</div>
</center>

<footer style="margin-top:2em; margin-bottom:2em;">
  <hr>
  &copy; Copyright 2021 ZenEvents
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


  </body>
</html>
