<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ZenEvents</title>

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Adding the following ds script to enable reading csv files https://stackoverflow.com/questions/21381097/d3-is-not-defined-referenceerror -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 

</head>
<body>

    <div>
    <Style type='text/css' >body{background-color:rgb(255, 255, 255);background-image:url(http://www.zingerbugimages.com/backgrounds/green_tie_dye_seamless.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
    </div>

  <!--
      BOOTSTRAP NAV
      https://getbootstrap.com/docs/5.0/components/navbar/
  -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(35, 112, 175);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZenEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <a class="nav-link" href="/events">All Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/zenquiz">Zen Quiz</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact & FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<center>

    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Welcome to ZenEvents</h1>
              <p>A place where you can find events in your city to cultivate your zen.</p>
            </div>
          </div>
        </section>

        <style> iframe {
            max-width: 600px;
         }
        </style>

    <div>
    <iframe src="https://giphy.com/embed/u3P8ktWNkjwOUTDnhi" width="100%"  height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/space-cosmos-astrology-u3P8ktWNkjwOUTDnhi"></a></p>
    </div>


    <br>
    <h2>View locations of all ZenEvents -- Click points for more details!</h2>
    <div id='printoutPanel'></div>
        
    <div id='myMap' style='max-width: 900px; height: 75vh;'></div>

    <script type="text/javascript">
    
        var map, infobox;
    
    //Define an HTML template for a custom infobox. **Took out title as couldn't be dynamically changed. https://docs.microsoft.com/en-us/bingmaps/v8-web-control/map-control-concepts/infoboxes/multiple-pushpins-and-infoboxes
    var infoboxTemplate = '<div class="Infobox" style=""><a class="infobox-close" href="javascript:void(0)" onClick="function test(){ infobox.setOptions({visible: false});  } test(); return false;" style=""><img class="infobox-close-img" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE0cHgiIHdpZHRoPSIxNHB4IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPjxwYXRoIGQ9Ik03LDBDMy4xMzQsMCwwLDMuMTM0LDAsN2MwLDMuODY3LDMuMTM0LDcsNyw3YzMuODY3LDAsNy0zLjEzMyw3LTdDMTQsMy4xMzQsMTAuODY3LDAsNywweiBNMTAuNSw5LjVsLTEsMUw3LDhsLTIuNSwyLjVsLTEtMUw2LDdMMy41LDQuNWwxLTFMNyw2bDIuNS0yLjVsMSwxTDgsN0wxMC41LDkuNXoiLz48L3N2Zz4=" alt="close infobox"></a>' + 
        '<div class="infobox-body" style="max-width: 256px; max-height: 126px; width: 125px;"></div><div class="infobox-info" style="">' + 
            '<div>{description}</div></div><div class="infobox-actions" style="display: none;"><ul class="infobox-actions-list"><div></div></ul></div></div></div>';
    
    function loadMapScenario() {
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {credentials: '<%= API %>', center: new Microsoft.Maps.Location(38.8951, -77.1),
                        zoom: 10});
    
            var center = map.getCenter();
    
            //A title and description for the infobox.
            var description = '<img src="https://www.bingmapsportal.com/Content/images/poi_custom.png" align="left" style="margin-right:5px;"/>This is a description with custom html. <a href="http://bing.com/maps" target="_blank">Link</a>';
    
            //Pass the title and description into the template and pass it into the infobox as an option.
            infobox = new Microsoft.Maps.Infobox(center, {
                htmlContent: infoboxTemplate.replace('{description}', description)
            , visible: false});
    
            //Assign the infobox to a map instance.
            infobox.setMap(map);
    
            var center = map.getCenter();
            var Events = Microsoft.Maps.Events;
            var Location = Microsoft.Maps.Location;
            var Pushpin = Microsoft.Maps.Pushpin;

            var events = JSON.parse('<%- events %>')

            // //get events data from csv file in /public/ folder, and iterate into new cards for each
            // //https://stackoverflow.com/questions/54706080/generating-dynamic-html-cards-from-a-javascript-array
            // //https://www.w3schools.com/js/js_output.asp
            // d3.csv("events.csv").get(function(error,data){
            // var events = data;
            
            //Create random locations in the map bounds.
            var randomLocations = Microsoft.Maps.TestDataGenerator.getLocations(events.length, map.getBounds());
            
            for (var i = 0; i < randomLocations.length; i++) {
                var pin = new Pushpin(new Location(events[i].lat, events[i].long), {text: events[i].id, title: events[i].title});
    
                //Store some metadata with the pushpin.
                pin.metadata = {
                    description: '<a href="' + events[i].link + '" target="_blank">' + events[i].title + '</a> <br>' + events[i].location
                };
    
                //Add a click event handler to the pushpin.
                Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
    
                //Add pushpin to the map.
                map.entities.push(pin);
            }
        //})
        }
    

        function pushpinClicked(e) {
            //Make sure the infobox has metadata to display.
            if (e.target.metadata) {
                //Set the infobox options with the metadata of the pushpin.
                infobox.setOptions({
                    location: e.target.getLocation(),
                    description: e.target.metadata.description,
                    visible: true
                });
    
            }
        }
    
    
        </script>

</center>

    <footer style="margin-top:2em; margin-bottom:2em;">
        <hr>
        &copy; Copyright 2021 ZenEvents
      </footer>

      <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>