<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zen Quiz | ZenEvents</title>

        <!-- Bootstrap CSS file -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  </head>
  <body style="background:rgb(224, 222, 80);">

  <style> div {
      word-wrap: break-word;
      max-width: 1000px;
   }
  </style>

  <!--
      BOOTSTRAP NAV
      https://getbootstrap.com/docs/5.0/components/navbar/
  -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(35, 112, 175);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZenEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <a class="nav-link" href="/events">All Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/zenquiz">Zen Quiz</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact & FAQ</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<center>
  <br>
  <br>

  <div>
  <iframe src="https://giphy.com/embed/DBbPjLMsQPruMkDcrd" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mostexpensivest-viceland-most-expensivest-DBbPjLMsQPruMkDcrd"></a></p>

  <script type="text/javascript" language="javascript"> 
    $('.myIframe').css('height', $(window).height()+'px');
    </script>
    
  <h1>Your result is Yogi!</h1><br> 
  
  <p>To be a <a href="https://isha.sadhguru.org/yoga/yoga-articles-hatha-yoga-asanas/what-does-it-mean-to-be-a-yogi/" target="_blank">yogi</a> means to live without the coffins that people build around themselves. Yoga means union. It means you have breached the boundaries of the physical and have the ability to touch and experience everything in the universe. Unless a human being acquires this quality, they are somehow trying to hide from life.</p>
  <h2><a href="events?fieldName=Yoga">Find Yoga Events</a> <br><br></h2>
  <a href="zenquiz">Retake Quiz</a> <br>

</div>
</center>

<footer style="margin-top:2em; margin-bottom:2em;">
  <hr>
  &copy; Copyright 2021 ZenEvents
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


  </body>
</html>
